.overlay {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-content: space-between;
  flex-flow: column;
}

.player {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 20px 100px;
}

@media only screen and (max-width: 768px) {
.overlay { height: 90vh; }
}

.nav {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  justify-content: space-between;
  padding: 20px;
}

.contactNav {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

.content {
  position: relative;
  clear: both;
  margin: 0 auto;
}

.fullwidthContainer {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  font-weight: normal;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.wrapperFullwidthVideo {
  height: 100vh;
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@supports (display: flex) {
.wrapperFullwidthVideo { display: flex; }
}

.fullwidthVideo {
  margin: 0px auto;
  background-color: rgb(233, 233, 233);
  padding: 0px;
  position: inherit;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}